body {
    align-items: center;
}
.inputstyles{
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 45%;
    width: 90px;
}
.passwordinputstyles{
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-top: 5px;
    width: 150px;
    margin-left: 45%;
}
.inputbutton{
    margin-top: 10px;
    margin-left: 45%;
    border-radius: 10px;
}


