body {
    align-items: center;
}
.inputstyles{
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
    top: 403px;
    left: 45%;
    width: 90px;
}
.passwordinputstyles{
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
    top: 450px;
    width: 150px;
    left: 45%;
}
.inputbutton{
    top: 500px;
    left: 45%;
    border-radius: 10px;
}



